*{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
}
li{
    float: right;
}
li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.active{
    color: brown;
}
body{
    background-image: url("bg.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    
}
.kotak{
    height: 50px;
    background-color: darkgoldenrod;
}
.kotak2{
    width: 1000px;
    padding-top: 180px;
    margin: 0 auto;
}
.kotak2 img{
    width: 330px;
    height: 200px;
    margin-left: 310px;
}
.kotak3{
    width: 1000px;
    padding-top: -80px;
    margin: 0 auto;
}
.kotak3 img{
    width: 30px;
    height: 15px;
    margin-left: 470px;
}
